models/object_detection/pose.pt filter=lfs diff=lfs merge=lfs -text
models/object_detection/semantic_segmentation.pt filter=lfs diff=lfs merge=lfs -text
models/object_detection/yolo.pt filter=lfs diff=lfs merge=lfs -text
